body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(221, 110, 255);
    background-color: lavenderblush;
}

@font-face {
    font-family: Caveat-Bold;
    src: url(Fonts/Caveat-Bold.ttf);
}

#choice-selected img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    border: 2px solid rgb(157, 58, 170);
}

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}

.cni{
    width: 130px;
    height: 30px;
    background: #fcbbfc;
    border: none;
    color: white;
    font-family: Caveat-Bold;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.cni a{
    text-decoration: none;
    color: #000000;
    transition: .3s ease;
}

.cni:hover{
    background-color: #f19df1;
}

.cnii{
    width: 130px;
    height: 30px;
    background: #fcbbfc;
    border: none;
    color: white;
    font-family: Caveat-Bold;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.cnii:hover{
    background-color: #f19df1;
}